# Kopiere den Inhalt dieser Datei in eine neue Datei mit dem Namen ".env" und passe die Werte entsprechend an.

# Ändere die Version entsprechend der Version, die für die Anwendung verwendet werden soll.
# empfohlen wird immer der neuste Tag (Version), da dieser die neuesten Features und
# Fehlerbehebungen enthält.
VERSION=v1.0.0
POSTGRES_USER=journeo_user
POSTGRES_PASSWORD=CHANGE_ME_PLEASE
POSTGRES_DB=journeo_db
POSTGRES_VERSION=16
POSTGRES_HOST=db
POSTGRES_PORT=5432
