name: Biome Check

on:
  pull_request:
    branches: ["main"]

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 22

      - run: npm ci --prefix frontend

      - run: npx --prefix frontend biome check frontend/
